@font-face {
  font-family: 'cerebri_sanslight';
  src: url('../fonts/cerebrisans-light-webfont.woff2') format('woff2'),
    url('../fonts/cerebrisans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'cerebri_sansmedium';
  src: url('../fonts/cerebrisans-medium-webfont.woff2') format('woff2'),
    url('../fonts/cerebrisans-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'cerebri_sanslight' !important;
}



.design-dots {
  visibility: visible;
}

@media only screen and (max-width: 600px) {
  .design-dots {
    visibility: hidden;
  }

  .mb-small-2 {
    margin-bottom: 2px;
  }

  .nav-segment:not(.nav-fill) {
    display: block;
  }

  .nav-segment.nav-pills {
    border-radius: 0 !important;
  }

  .sm-p-1 {
    padding: 1rem;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .design-dots {
    visibility: hidden;
  }
}

/* Medium devices (la   ndscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .design-dots {
    visibility: hidden;
  }

  .md-mt-2 {
    margin-top: 2rem
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .design-dots {
    visibility: visible;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


/* Custome Styles */

.navbar-expand-lg .navbar-nav .dropdown-menu {
  border-top: 0.1875rem solid #39D39F !important;
}

.dropdown-item:hover {
  color: #ed4c78 !important;
}

.header .nav-link,
.dropdown-item {
  color: #000000;
}

a.text-red-hover.text-muted:hover {
  color: #39D39F !important
}

.navbar-brand>img {
  width: 12.9rem;
}

.bg-creative {
  background: #39D39F !important
}

.badge-creative,
.btn-creative {
  color: #fff;
  background-color: #39D39F;
}

.btn-creative:hover {
  color: #fff;
}

.navbar-nav-item:hover .nav-link,
.navbar-nav-item:focus .nav-link,
.text-green {
  color: #39D39F;
}

.bg_darkgrey {
  background: #7d7d7d !important;
}

footer .btn-soft-light:hover,
footer .btn-soft-light:focus,
footer .btn-soft-light:active,
footer .btn-soft-light.active {
  color: #39D39F;
}

.feature_active {
  background-color: #FFF7CC;
}

.btn-light {
  color: #FFFFFF !important;
  background-color: #6bd8a9 !important;
  border-color: #6bd8a9 !important;
}

.logo-tag {
  color: #677788;
  font-size: 14px;
  margin-bottom: 0;
}

.hide {
  display: none;
}

.navbar-brand {
  width: 13.5rem !important;
}

.form-control:focus {
  border-color: rgb(255 187 195);
  box-shadow: 0 0 10px rgb(255 239 241);
}

.btn-creative-green {
  background: #6AD8A8 !important;
  color: #FFFFFF !important;
}

main .btn.btn-icon:hover,
main .btn.btn-icon:focus
 {
  color:#ffffff !important;
  background-color: #6AD8A8 !important;
  border:none;
} 

.bg-img-hero-on-body {
  background-image: url(../../assets/svg/illustrations/error-404.svg);
  background-position: 0 -20px;
}