/* .hero-master {
    background: url(../img/mong/master-illus1.svg);
    overflow: hidden;
    background-repeat: no-repeat;
} */

.hero-master {
    overflow: hidden;
}

.hero-master > .row {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
}
.inner-hero {
    overflow: hidden;
}
.inner-hero > .row {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
}
.hero-master img {
    position: relative;
    top: 50px;
}
.parallax1 {
    position: relative;
}
.parallax-layer1:first-child {
    position: relative;
}
.parallax-layer1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.blue_underline:after {
    content: "";
    height: 3px;
    width: 50px;
    background: #1685ff;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
}

.btn-twitter:hover img {
    filter: invert(1);
}


@media only screen and (max-width:1280px) {
    .hero-master {
        margin-top: 190px;
    }
}

@media only screen and (max-width:540px) {
    .hero-master {
        margin-top: 230px;
    }
    .hero-master img {
        top: 30px;
    }
    #superapp .mobile-img1 {
        max-width: 180px !important;
    }
    #superapp .screen-shot1 {
        max-width: 170px !important;
        left: 0px !important;
    }
    #superapp .screen-shot2 {
        max-width: 180px !important;
        left: -10px !important;
        top: 60% !important;
    }

    .header-center{
        position: relative;
        margin:auto;
    }
}

a.internal-link {
    text-decoration: none;
    /* color: unset; */
    color: #1685ff;
}
a.internal-link:hover {
    color: #1685ff;
}